body {
    height: 95vh;
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: monospace;
    font-size: xx-large;
    align-items: center;
    text-align: center;
    /* border: 10px solid black; */
    background-color: rgb(237, 231, 231);
    overflow: hidden;
}

table, tr, th, td {
    padding: 30px;
}

header{
    /* border: 1px solid red; */
}

main{
    /* border: 1px solid blue;     */
}

footer {
    padding-top: 30px;
    /* border: 1px solid green; */
}